.headerDashboard {
    height: 10vh;
    background-color: rgb(51, 175, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentAndSideBar {
    display: flex;
}

.sideBarDashboard {
    width: 15vw;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentDashboard {
    width: -webkit-fill-available;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
}

.addSerie {
    padding: 30px;
    width: 40vw;
}

.footerDashboard {
    height: 20vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
